{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant app{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1><a href="#">Restaurant App</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Costumer</a></li>
                <li><a href="#">About</a></li>
                <i class="fa-solid fa-circle-half-stroke"></i>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            content
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2025 Omar Yasser. All rights reserved.</p>
    </footer>
    <script src="{% static 'JS/index.js' %}"></script>
</body>
</html>